@page "/ContactPage"
<h3>ContactPage</h3>
<div style="width: 50%">
    <p>We are located in</p>
    <p>Address,City,Country</p>
</div>

<div style="width: 50%">
    <Contactus></Contactus>
</div>

@code {

}
