@inherits LayoutComponentBase
<div style="width: 100%">
    <label></label>
    <a href="">Home</a>
    <a href="InfoPage">What we do</a>
    <a href="ContactPage">Contact us</a>
</div>
<div style="width: 100%">
    @Body
</div>